/* Desktop First start!! */


/* Desktop First end... */
html {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

section {
    width: 100%;
    min-height: 700px;
    overflow-x: hidden;
}

ul {
    list-style: none !important;
}

a {
    text-decoration: none;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
    display: none;
}

/* input type number 에서 화살표 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ios, 익스플로어 select 스타일 제거 */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

select::-ms-expand {
    display:none
}
/* ios select 스타일 제거 */

    


/* pc,mobile img&div 제거 */


    .ctnWrap {
        width: 1140px;
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
    }
    
    
    /* PC / MOBILE 사이즈별 wrap 시작 */

    .mobile_img, #mobile_img, .mobile_wrap, #mobile_wrap, .mobile {
        display: none;
    }
    
    /* PC / MOBILE 사이즈별 wrap 끝 */



/*@media (max-width: 1920px)*/

/* celib renewal COMMON */
.inner {
    width: 100%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}
.float-left {
    float:left;
}
.float-right {
    float:right;
}
.clear-both::after {
    content: '';
    display: block;
    clear: both;
}
.d-pc {
    display: block !important;
}
.d-mobile {
    display: none !important;
}
@media all and (max-width:768px) {
    .d-pc {
        display: none !important;
    }
    .d-mobile {
        display: block !important;
    }
}

/* COMMON END*/



@media screen and (min-width:769px) and (max-width:1099px) {
    .ctnWrap {
        width: 92%;
        max-width: 950px;
        display: flex;
        flex-wrap: wrap;
    }
}

/*@media (min-width:769px) and (max-width:1099px)*/





@media (max-width: 768px) {
    .test1 {
        color: var(--accnt_clr);
    }

    .ctnWrap {
        width: 92%;
        max-width: 700px;
        /*
        display: flex;
        flex-wrap: wrap;
*/
    }
}

/*@media (max-width: 639px)*/
@media (max-width: 535px) {
    
    #mobile_img, .mobile_img, .mobile_wrap, #mobile_wrap {
        display: block;
    }
    
    #pc_img, .pc_img, .pc_wrap, #pc_wrap {
        display: none;
    }
}


@media (max-width: 320px) {
    .test1 {
        color: var(--accnt_clr);
    }
    
}

/*@media (max-width: 639px)*/

.no-close .ui-dialog-titlebar-close {
	div::apply_wrap { display: none; }
}
